<!-- Categories section-->
<section class="pb-5">
  <div class="container pb-5">
    <header class="text-center mb-5">
      <h2 class="mb-1">Explore our categories</h2>
    </header>
    <div class="row text-center">
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#stack-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="#">Rocket
                Parts</a></h2>
            <p class="categories-item-number small mb-0">256 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#pie-chart-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="#"
              >Rovers</a></h2>
            <p class="categories-item-number small mb-0">89 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#design-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="#">Mars
                Surface Suits</a></h2>
            <p class="categories-item-number small mb-0">55 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink="#mental-health-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="#"
              >Terraforming Tools</a></h2>
            <p class="categories-item-number small mb-0">38 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#bookmark-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="#"
              >Geology</a></h2>
            <p class="categories-item-number small mb-0">64 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#checked-window-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="#">Nuclear
                Reactors</a></h2>
            <p class="categories-item-number small mb-0">3 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#list-details-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="#">Sporting
                Goods</a></h2>
            <p class="categories-item-number small mb-0">20 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#sales-up-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="#"
              >Properties</a></h2>
            <p class="categories-item-number small mb-0">4 Items</p>
          </div>
        </div>
      </div>
  </div>

</section>