   <!-- /#sidebar-wrapper -->
   <!-- Page Content -->
         <!--<div id="page-content-wrapper">-->

                <section class="py-5">
                    <div class="container py-5">
                        <div class="row text-center">
                   <div class="col-lg-10 mx-auto">
                     <div class="card border-0 shadow">
                       <div class="card-body p-5">
                         <div class="row">
                           <div class="col-lg-4 mb-4 mb-lg-0">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
                             <h2 class="h5">Search your tool</h2>
                             <p class="text-muted text-small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                           </div>
                           <div class="col-lg-4 mb-4 mb-lg-0">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
</svg>
                             <h2 class="h5">Gather your info</h2>
                             <p class="text-muted text-small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                           </div>
                           <div class="col-lg-4">
                               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
  <path d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z"/>
</svg>
                                 <h2 class="h5">Build your startup</h2>
                             <p class="text-muted text-small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>
        <!-- Categories section-->
<!-- Categories section-->
<section class="pb-5">
  <div class="container pb-5">
    <header class="text-center mb-5">
      <h2 class="mb-1">Explore our categories</h2>
      <p class="text-muted text-small">Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr.</p>
    </header>
    <div class="row text-center">
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#stack-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="/dashboard/rocket-parts">Rocket
                Parts</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#pie-chart-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="/dashboard/rovers"
              >Rovers</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#design-1"> </use>
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="/dashboard/mars-surface-suits">Mars
                Surface Suits</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#mental-health-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="/dashboard/terraforming-tools"
              >Terraforming Tools</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="/dashboard/geology"
              >Geology</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="/dashboard/nuclear-reactors">Nuclear Reactors</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
            
            </svg>
            <h2 class="h5">
              <a class="stretched-link reset-anchor-inherit" href="/dashboard/sporting-goods">Sporting
                Goods</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 px-lg-2">
        <div
          class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
        >
          <div class="card-body px-4 py-5">
            <svg class="svg-icon mb-3">
              <use xlink:href="#sales-up-1"> </use>
            </svg>
            <h2 class="h5">
              <a
                class="stretched-link reset-anchor-inherit"
                href="/dashboard/property"
              >Properties</a></h2>
            <p class="categories-item-number small mb-0">2 Items</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center pt-4"><a
          class="btn btn-primary"
          href="#"
        >Show more categories</a></div>
    </div>
  </div>

</section>

