<div><h1 class="text-green">NUCLEAR REACTORS PAGE</h1>
  {{#each postData as |product|}}

    <div class="col-lg-3 px-lg-2">
      <div
        class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition"
      >
        <div class="card-body px-4 py-5">

          <h2 class="h5">
            Email: {{product.dataValues.email}} </h2>
            Title:{{product.dataValues.listingTitle}}</h2>
            Description:{{product.dataValues.listingDescription}}</h2>
            Photo: {{product.dataValues.listingThumb}} </h2>
          
        </div>
      </div>
    </div>
  {{/each}}
</div>