<body class="main-bg">
    <div class="login-container text-c animated flipInX">
            <div>
                <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
            </div>
                <h3 class="text-whitesmoke">Sign Up</h3>
            <div class="container-content">
                <form class="signup-form margin-t">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email-signup" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name-signup"placeholder="Username" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password-signup" placeholder="*******" required="">
                    </div>
                    <button type="submit" class="form-button button-l margin-b">Sign In</button>
                </form>
                <p class="margin-t text-whitesmoke"><small> The Martian Market &copy; 2021</small> </p>
            </div>
        </div>
</body>
<script src="/js/signup.js"></script>