body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
/*  background: -webkit-linear-gradient(to bottom, rgba(198, 71, 16, 0.5), rgba(57, 55, 59, 0.5));*/
  background-image: linear-gradient( rgba(198, 71, 16, 0.5), rgba(57, 55, 59, 0.5))
}

body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*           Wrappers            */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

.mb-1 {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family:monospace;
  font-weight: bold;
}

.header-center {
  text-align: center;
  padding-top: 20px;
}

.h1Font {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family:monospace;
  font-weight: bold;
}

.stretched-link {
  color: rgba(198, 71, 16, 0.5);
}

.btn-L {
  background-color: rgba(198, 71, 16, 0.5)!important;
}

/*     Sidebar nav styles        */

.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:hover{
  background: rgba(198, 71, 16, 0.5);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, rgba(198, 71, 16, 0.5), rgba(57, 55, 59, 0.5));
   padding-top: 12px;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}

/* ------Scroll Bar ------*/
/* width */
::-webkit-scrollbar {
  width: 05px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585858;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*       Hamburger-Cross         */


.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

        /*-------------------/
        /*------Log in ------/
        /*-------------------/

        
/* Text Align */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right
}
.text-j {
  text-align: justify;
}

/* Text Color */
.text-whitesmoke {
  color: whitesmoke
}
.text-darkyellow {
  color: rgba(198, 71, 16, 0.5);
}

/* Lines */

.line-b {
  border-bottom: 1px solid rgba(198, 71, 16, 0.5) !important;
}

/* Buttons */
.button {
  border-radius: 3px;
}
.form-button {
  background-color: rgba(198, 71, 16, 0.5);
  border-color: rgba(198, 71, 16, 0.5);
  color: #e6e6e6;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
  background-color: rgba(207, 87, 35, 0.829);
  border-color: rgba(198, 71, 16, 0.5);
  color: #e6e6e6;
}
.button-l {
  width: 100% !important;
}

/* Margins */

.margin-g {
  margin: 15px;
}
.margin-g-sm {
  margin: 10px;
}
.margin-g-md {
  margin: 20px;
}
.margin-g-lg {
  margin: 30px;
}

.margin-l {
  margin-left: 15px;
}
.margin-l-sm {
  margin-left: 10px;
}
.margin-l-md {
  margin-left: 20px;
}
.margin-l-lg {
  margin-left: 30px;
}

.margin-r {
  margin-right: 15px;
}
.margin-r-sm {
  margin-right: 10px;
}
.margin-r-md {
  margin-right: 20px;
}
.margin-r-lg {
  margin-right: 30px;
}

.margin-t {
  margin-top: 15px;
}
.margin-t-sm {
  margin-top: 10px;
}
.margin-t-md {
  margin-top: 20px;
}
.margin-t-lg {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 15px;
}
.margin-b-sm {
  margin-bottom: 10px;
}
.margin-b-md {
  margin-bottom: 20px;
}
.margin-b-lg {
  margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.form-control,
.border-line {
  background-color: #5f5f5f;
  background-image: none;
  border: 1px solid #424242;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control:focus,
.border-line:focus {
  border-color: rgba(198, 71, 16, 0.5);
  background-color: #616161;
  color: #e6e6e6;
}
.form-control,
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
  background-color: #3a3a3aa2;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: rgba(198, 71, 16, 0.5);
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

/* Backgrounds */

.main-bg {

  background: #030303;
  background: linear-gradient( #424242, #212121);
}

/* Login & Register Pages*/

.login-container {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 100px;
}
.login.login-container {
  width: 300px;
}
.wrapper.login-container {
  margin-top: 140px;
}
.logo-badge {
  color: #e6e6e6;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
}